[baseos]
baseurl=http://{{HOST}}:{{PORT}}/repos/centos7/centosplus/$basearch
gpgcheck=0

[extras]
baseurl=http://{{HOST}}:{{PORT}}/repos/centos7/extras/$basearch
gpgcheck=0

[updates]
baseurl=http://{{HOST}}:{{PORT}}/repos/centos7/updates/$basearch
gpgcheck=0

[docker]
baseurl=http://{{HOST}}:{{PORT}}/repos/centos7/sub_docker/$basearch/stable
gpgcheck=0

[epel]
baseurl=http://{{HOST}}:{{PORT}}/repos/centos7/sub_epel/$basearch
gpgcheck=0