#put this in /etc/yum.repos.d/
#yum clean all
#yum check-update

[baseos]
baseurl=http://$host:$port/repository/rocky/BaseOS/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[appstream]
baseurl=http://$host:$port/repository/rocky/AppStream/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[extras]
baseurl=http://$host:$port/repository/rocky/extras/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[plus]
baseurl=http://$host:$port/repository/rocky/plus/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[devel]
baseurl=http://$host:$port/repository/rocky/Devel/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[ha]
baseurl=http://$host:$port/repository/rocky/HighAvailability/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[powertools]
baseurl=http://$host:$port/repository/rocky/PowerTools/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[rs]
baseurl=http://$host:$port/repository/rocky/ResilientStorage/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[nfv]
baseurl=http://$host:$port/repository/rocky/nfv/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[rt]
baseurl=http://$host:$port/repository/rocky/RT/$basearch/os
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial

[epel]
baseurl=http://$host:$port/repository/rocky-epel/$basearch
gpgcheck=0
enabled=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-rockyofficial